<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>SG Github Code Review</title>
</head>
<body>
    <div class="page">
        <h1>SG Code Review</h1>
        <div class="metanav">
            hello.
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>